/*页面样式*/
html, body, .app {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background-color: #ddd;
    -webkit-overflow-scrolling: touch; /* ios5+ 以上滚动流畅*/
}

.item {

    padding: 10px;

    background-color: #fff;

    border-bottom: 1px solid #ddd;

    position: relative;

    width: 100%;

    display: block;
    text-decoration: none;
    box-sizing: border-box;
}

.item h1 {

    font-size: 21px;

    margin: 0px;
}

.item .desc {

    color: #0D7168;

    word-wrap: break-word;

    width: 100%;

    word-break: break-all;
}

.item .dowm {

}

.item .score {

    position: absolute;

    top: 12px;

    right: 13px;

    color: #AD5A11;
}


/*下拉刷新和加载更多的基础样式。可以自己定义*/
.dropload-up {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.dropload-load .loading {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}